---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import type { FooterLink } from "~/types";
import fondo from "~/assets/fondo azul.png";

const links: Array<FooterLink> = [
  {
    url: "mailto:info@estanciacore.net.ar",
    description: "Envianos un email",
    icon: "mdi:email",
  },
  {
    url: "https://wa.me/542665035855",
    description: "Escribinos por WhatsApp",
    icon: "mdi:whatsapp",
  },
  {
    url: "tel:+542665035855",
    description: "Llamanos",
    icon: "mdi:phone",
  },
  {
    url: "https://instagram.com",
    description: "Seguinos en Instagram",
    icon: "fa-brands:instagram",
  },
];
---

<footer class="relative flex h-64 items-center justify-center py-16">
  <div class="absolute inset-0 z-0">
    <Image
      src={fondo}
      alt="Fondo"
      class="h-full w-full object-cover opacity-60"
    />
  </div>
  <ul class="relative z-10 grid grid-cols-2 gap-4 sm:grid-cols-4">
    {
      links.map((link) => (
        <li>
          <a
            class="flex size-16 items-center justify-center rounded-full border-2 border-white/50 bg-black/30 p-4 text-white backdrop-blur-sm transition-colors hover:bg-white/20"
            href={link.url}
          >
            <span class="sr-only">{link.description}</span>
            <Icon class="size-full" name={link.icon} />
          </a>
        </li>
      ))
    }
  </ul>
</footer>